@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background: white;
    background-size: cover;
}
h1{
    color: darkred;
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
}
p{
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    line-height: 1em;
    list-style-position: inside;
}