@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-color: white;
}


nav{
    padding: 5px;
    border-bottom: 2px solid black;
    margin: auto;
    text-align: center;
}
nav a{
    display: none;
}
nav a.atual{
    color: darkred;
    display: block;
    text-decoration: none;
}

main{
    margin: auto;
}
main h1{
    color: darkred;
    text-align: center;
    padding: 5px;
    font-variant: small-caps;
    font-size: 1.3em;
}
main h2{
    color: darkred;
    padding: 5px;
    font-size: 1em;
}
main h3{
    color: darkred;
    padding: 5px;
    font-size: 1em;
}
main p{
    text-indent: 10px;
    padding: 5px;
    line-height: 1em;
}
main li{
    text-indent: 10px;
    padding: 5px;
    line-height: 1em;
    list-style-position: inside;
    text-align: left;
}
main ol, main ul{
    padding: 0px 30px;
}
main div ol, main div ul{
    padding: 0px;
}
main a{
    text-decoration: none;
    color: black;
}
main h3 a{
    color: black;
}
div.vid{
    display: none;
}
div.vid video{
    display: none;
}
video.vid{
    display: none;
}
div.container{
    text-align: center;
    width: 100%;
}
div.produtoA{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
div.produtoB{
    display: inline-block;
    width: 40%;
    height: 500px;
    vertical-align: top;
}
div.arquivopdf{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100px;
    vertical-align: top;
    padding: 5px 0px;
}
iframe{
    width: 100%;
    height: 100%;
    border: 1px solid darkred;
    overflow-x: auto;
    background-color: white;
}