@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

:root{
    --cor01:rgb(99,100,102);
}
body,html{
    height: 100vh;
    position: relative;
    background-color:whitesmoke;
}

header{
    background-color: white;
    position: sticky;
    top: -1px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.334);
}
nav{
    min-height: 50px;
    margin: auto;
    line-height: 50px;
    text-align: center;
    align-items: center;
}
nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: darkred;
    font-variant: small-caps;
    padding: 5px;
    vertical-align: middle;
}
nav a:hover{
    background-color: red;
    color: white;
    transition-duration: 0.7s;
}
nav a.atual{
    background-color: darkred;
    color: white;
}
nav a.atual:hover{
    background-color: darkred;
    color: white;
}
span#burger{
    color: darkred;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid darkred;
}
span#burger:hover{
    background-color: darkred;
    color: white;
}
header img{
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}
@media screen and (min-width: 769px){
    nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    nav a{
        flex: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
    nav img{
        margin: 0px 50px;
    }
    menu{
        display: none;
    }
}
@media screen and (max-width: 768px){
    nav{
        display: none;
    }
    nav a{
        display: block;
    }
    span#burger{
        display: block;
    }
    nav img{
        display: none;
    }
    menu img{
        display: block;
        max-height: 50px;
        max-width: 50px;
        margin: auto;
    }
}


main{
    max-width: 900px;
    min-width: 350px;
    width: 90vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}
main h1{
    color: darkred;
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main h2{
    color: darkred;
    text-align: left;
    padding: 10px;
}
main h3{
    color: darkred;
    text-align: left;
    padding: 10px;
    font-size: 1em;
}
main p{
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    line-height: 1em;
}
main li{
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    line-height: 1em;
    list-style-position: inside;
}
main ol, main ul{
    padding: 0px 30px;
}
main div ol, main div ul{
    padding: 0px;
}
main a{
    text-decoration: none;
    color: darkred;
    padding: 5px 0px;
    border-radius: 9px;
}
main a:hover{
    background-color: darkred;
    color: white;
    cursor: pointer;
    transition-duration: 0.7s;
}
main a::after{
    content: " [link]";
    font-size: 0.7em;
}
s{
    color: darkred;
}
div.vid{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-image: linear-gradient(to top, gray, transparent);
}
@media screen and (min-width: 769px){
    div.vid{
        height: calc(100vh - 62px);
    }
    div.vid video{
        height: 100%;
    }
}
@media screen and (max-width: 768px){
    div.vid{
        height: calc(100vh - 100px);
    }
    div.vid video{
        width: 100%;
    }
}
div.container{
    text-align: center;
    width: 100%;
}
div.produtoA{
    padding: 0px;
    display: inline-block;
    max-width: 800px;
    width: 100%;
    vertical-align: top;
}
div.produtoA ul{
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
div.produtoA li{
    padding: 15px 0px;
    display: inline-block;
}
div.produtoB{
    padding: 0px;
    display: inline-block;
    max-width: 800px;
    width: 100%;
    height: 600px;
    vertical-align: top;
}
div.arquivopdf{
    display: none;
    text-align: center;
    width: 100%;
    height: 600px;
    vertical-align: top;
    padding: 10px 0px;
}
iframe{
    width: 100%;
    height: 100%;
    border: 2px solid darkred;
    overflow-x: auto;
    background-color: white;
}


footer{
    background-color: darkred;
    min-height: 200px;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
}

.teste{
    color: blue;
    background-color: yellow;
}