@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --cor01:rgb(99,100,102);
}
body{
    min-height: 100vh;
    position: relative;
    background-color: whitesmoke;
}


nav{
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
    position: sticky;
    top: -1px;
    margin: auto;
    line-height: 50px;
    text-align: center;
}
nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: darkred;
    font-variant: small-caps;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.7s;
}
nav a:hover{
    background-color: red;
    color: white;
}
nav a.atual{
    background-color: darkred;
    color: white;
}
nav a.atual:hover{
    background-color: darkred;
    color: white;
}
nav img{
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 20px;
}
nav a.image{
    background-color: white;
    padding: 0px 100px 0px 10px;
}
nav a.image:hover{
    background-color: white;
}


main{
    max-width: 1000px;
    margin: auto;
}
main h1{
    color: darkred;
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main h2{
    color: darkred;
    text-align: justify;
    padding: 10px;
}
main p{
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    line-height: 1em;
}
main li{
    text-align: justify;
    padding: 10px 20px;
    line-height: 1em;
    list-style-position: inside;
}
main a{
    text-decoration: none;
    color: darkred;
    padding: 10px 0px;
    border-radius: 15px;
}
main a:hover{
    background-color: darkred;
    color: white;
}
main a::after{
    content: " [link]";
    font-size: 0.7em;
}
div.vid{
    margin: auto;
    position: relative;
    padding-bottom: 91.5vh;
    background-image: linear-gradient(to top, black, transparent);
}
div.vid video{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
video.vid{
    width: 100%;
    margin: auto;
    align-items: center;
    vertical-align: middle;
}
div.produtoA{
    display: inline-block;
    width: 280px;
    vertical-align: top;
}
div.produtoB{
    display: inline-block;
    width: 600px;
    height: 600px;
    vertical-align: top;
}
div.arquivopdf{
    display: inline-block;
    width: 99%;
    height: 400px;
    vertical-align: top;
    padding: 10px;
}
iframe{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    overflow-x: auto;
    background-color: white;
}


footer{
    background-color: darkred;
    min-height: 200px;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
}

.teste{
    color: blue;
}