@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

:root{
    --cor01:rgb(99,100,102);
}
body{
    height: 100vh;
    position: relative;
    background-color: whitesmoke;
}


nav{
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
    position: sticky;
    top: -1px;
    margin: auto;
    line-height: 50px;
    text-align: center;
}
nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: darkred;
    font-variant: small-caps;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.7s;
}
nav a:hover{
    background-color: red;
    color: white;
}
nav a.atual{
    background-color: darkred;
    color: white;
}
nav a.atual:hover{
    background-color: darkred;
    color: white;
}
nav img{
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
}
nav a.image{
    background-color: white;
}
nav a.image:hover{
    background-color: white;
}
@media screen and (min-width: 769px){
    nav img{
        padding: 0px 100px 0px 0px;
    }
}
@media screen and (max-width: 768px){
    nav img{
        padding: 0px;
    }
    nav a{
        border-radius: 15px;
    }/*
    main>div>div>ul>li{
        display: inline-block;
        padding: 10px 5px;
    }*/
}


main{
    max-width: 900px;
    min-width: 400px;
    width: 90vw;
    margin: auto;
}
main h1{
    color: darkred;
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main h2{
    color: darkred;
    text-align: left;
    padding: 10px;
}
main h3{
    color: darkred;
    text-align: left;
    padding: 10px;
    font-size: 1em;
}
main p{
    text-align: left;
    text-indent: 20px;
    padding: 10px;
    line-height: 1em;
}
main li{
    text-align: left;
    text-indent: 20px;
    padding: 10px;
    line-height: 1em;
    list-style-position: inside;
}
main ol, main ul{
    padding: 0px 30px;
}
main div ol, main div ul{
    padding: 0px;
}
main a{
    text-decoration: none;
    color: darkred;
    padding: 5px 0px;
    border-radius: 9px;
}
main a:hover{
    background-color: darkred;
    color: white;
}
main a::after{
    content: " [link]";
    font-size: 0.7em;
}
main h3 a{
    color: black;
}
s{
    color: darkred;
}
div.vid{
    margin: auto;
    position: relative;
    background-image: linear-gradient(to top, gray, transparent);
}
@media screen and (min-width: 769px){
    div.vid{
        padding-bottom: 43.6vw;
    }
}
@media screen and (max-width: 768px){
    div.vid{
        padding-bottom: 80vh;
    }
}
div.vid video{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
video.vid{
    width: 100%;
    margin: auto;
    align-items: center;
    vertical-align: middle;
}
div.container{
    text-align: center;
    width: 100%;
}
div.produtoA{
    display: inline-block;
    max-width: 800px;
    width: 100%;
    vertical-align: top;
}
div.produtoA li{
    display: inline-block;
}
div.produtoB{
    display: inline-block;
    max-width: 800px;
    width: 100%;
    height: 600px;
    vertical-align: top;
}
div.arquivopdf{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 400px;
    vertical-align: top;
    padding: 10px 0px;
}
iframe{
    width: 100%;
    height: 100%;
    border: 2px solid darkred;
    overflow-x: auto;
    background-color: white;
}

/*
footer{
    background-color: darkred;
    min-height: 200px;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
}*/

.teste{
    color: blue;
    background-color: yellow;
}