@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


:root{
    --cor01:rgb(99,100,102);
}
body,html{
    height: 100vh;
    background-color:whitesmoke;
}


header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
}
header.header0{
    position: static;
}
nav{
    min-height: 30px;
    margin: auto;
    line-height: 50px;
    text-align: center;
    align-items: center;
}
nav a,nav p{
    font-weight: bold;
    text-decoration: none;
    color: darkred;
    padding: 5px;
    vertical-align: middle;
}
nav a:hover, nav p:hover{
    background-color: darkred;
    color: white;
    cursor: pointer;
    transition-duration: 0.7s;
}
nav a.atual, nav a.atual:hover, nav p.atual, nav p.atual:hover{
    background-color: darkred;
    color: white;
    cursor: default;
}

span#burger{
    font-weight: bold;
    color: darkred;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burger:hover{
    background-color: darkred;
    color: white;
}
header img{
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}

@media screen and (min-width: 769px){
    header{
        overflow-y: hidden;
    }
    nav.navprincipal{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    nav.navbar{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        border-top: 2px solid darkred;
        width: 100%;
        background-color: white;
    }
    nav.navbar a{
        flex: 1 1 auto;
    }

    nav img{
        flex: 1 1 auto;
        margin: 0px 20px;
    }
    nav div{
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    nav.navprincipal div a,nav.navprincipal div p{
        flex: 1 1 auto;
    }
    nav.navproduto>a{
        flex: 1 1 auto;
    }
    menu{
        display: none;
    }
}
@media screen and (max-width: 768px){
    header{
        position: static;
        overflow-y: auto;
    }
    header.header0{
        display: none;
    }
    nav{
        display: none;
    }
    nav a, nav p{
        display: block;
        color: darkred;
        background-color: lightgrey;
        border: 2px solid darkred;
        border-top: 0px;
    }
    nav a.atual::after{
        content: " [Pagina Atual]";
        font-size: 0.7em;
    }
    span#burger{
        display: block;
        border: 2px solid darkred;
    }
    nav img{
        display: none;
    }
    menu img{
        display: block;
        max-height: 50px;
        max-width: 50px;
        margin: auto;
    }
        
    nav.navbar{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid darkred;
        width: 100%;
        background-color: white;
    }
    nav.navbar a{
        flex: 1 1 auto;
        width: 100%;
    }
    nav a.atual, nav p.atual{
        background-color: lightgray;
        color: darkred;
    }
}


main{
    max-width: 900px;
    min-width: 300px;
    width: 90vw;
    margin: auto;
    padding-bottom: 30px;
    border-radius: 20px;
}
@media screen and (min-width: 769px){
    main{
        margin-top: 50px;
    }
}
main h1{
    color: darkred;
    text-align: center;
    padding: 10px;
}
main h2{
    color: darkred;
    text-align: left;
    padding: 10px;
}
main h3{
    color: darkred;
    text-align: left;
    padding: 10px;
    font-size: 1em;
}
main h4{
    color: darkred;
    text-align: center;
    padding: 10px;
}
main p{
    text-align: justify;
    text-indent: 10px;
    padding: 10px;
    line-height: 1em;
}
main li{
    text-align: justify;
    padding: 10px;
    line-height: 1em;
    list-style-position: inside;

}
main li::marker{
    font-weight: bolder;
}
main ol, main ul{
    padding: 0px 0px 0px 30px;
}
main a{
    text-decoration: none;
    color: darkred;
    padding: 5px 0px;
    border-radius: 9px;
}
main a:hover{
    background-color: darkred;
    color: white;
    cursor: pointer;
    transition-duration: 0.7s;
}
main a::after{
    content: " [link]";
    font-size: 0.7em;
}
div.vid{
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (min-width: 769px){
    div.vid{
        height: calc(100% - 50px);
    }
    div.vid video{
        height: 100%;
    }
}
@media screen and (max-width: 768px){
    div.vid{
        width: 100%;
    }
    div.vid video{
        width: 100vw;
    }
}
div.mvp{
    margin: auto;
    height: calc(100% - 50px);
    background-image: linear-gradient(to top, darkred, transparent);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
div.mvp video{
    height: 100%;
}
div.imaggraf{
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


table{
    width: 90%;
    margin: auto;
    background-color: white;
    border: 2px solid darkred;
    border-collapse: collapse;
    overflow-x: auto;
    overflow-y: auto;
}
table thead{
    background-color: darkred;
    color: white;
}
table th,table td{
    padding: 10px;
    vertical-align: middle;
}
table th{
    text-align: center;
}
table td{
    border-left: 2px solid darkred;
}
table tbody>tr:nth-child(2n){
    background-color: lightgray;
}
table col.clink,table col.cutil,table col.cdese{
    max-width: 100px;
}


footer{
    background-color: darkred;
    min-height: 200px;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
    position: fixed;
    bottom: 0;
}


.teste{
    color: blue;
    background-color: yellow;
}